@import "../styles/mixins.module";
$black: #2b2b2b;
$white: #efefef;

.hero {
  height: 100dvh;

  position: relative;
  background-size: cover;
  background-attachment: fixed;

  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.logo {
  margin-top: 8rem;
  width: calc(100% - 2rem);
  height: auto;
  @include tablet {
    width: 34rem;
    margin-top: 10rem;
  }
}
